body{
margin:0;
font-family:Segoe UI,Arial;
background:#0b1220;
color:#e5e7eb;
display:flex;
}

.sidebar{
width:240px;
background:#020617;
padding:20px;
height:100vh;
box-shadow:2px 0 10px #000;
}

.sidebar h2{
color:#38bdf8;
margin-bottom:20px;
}

.sidebar a{
display:block;
padding:12px;
margin-bottom:8px;
background:#111827;
color:white;
text-decoration:none;
border-radius:8px;
transition:0.2s;
}

.sidebar a:hover,
.sidebar a.active{
background:#2563eb;
}

.main{
flex:1;
padding:25px;
overflow:auto;
}

h1,h2{
margin-top:0;
}

table{
width:100%;
border-collapse:collapse;
margin:10px 0;
background:#020617;
}

th{
background:#1f2937;
}

th,td{
border:1px solid #374151;
padding:8px;
text-align:center;
}

input,select{
width:100%;
padding:8px;
background:#020617;
color:white;
border:1px solid #374151;
border-radius:4px;
}

button{
padding:10px;
border:none;
background:#2563eb;
color:white;
cursor:pointer;
border-radius:6px;
margin:6px 0;
}

button:hover{
background:#1d4ed8;
}
